* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/*Main*/

.content {
   font-family: Montserrat, sans-serif;
}

.content__background {
   width: 100%;
   height: 100vh;
   background-image: url(../images/background1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   color: #fff;
   background-position-x: center;
}

.content__container {
   max-width: 1130px;
   margin: 0 auto;
}

.main {
   margin-bottom: 130px;
}

.main__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 28px;
}

.main__headerlogo {
   font-size: 30px;
   font-weight: 700;
}

.main__headernav {
   font-size: 14px;
   text-transform: uppercase;
}

.nav__link {
   margin-right: 58px;
   padding-bottom: 9px;
   position: relative;
   vertical-align: top;
   transition: 0.3s linear;
}

.nav__link:last-child {
   margin: 0;
}

.nav__link::after {
   content: "";
   display: block;
   height: 3px;
   width: 100%;
   opacity: 0;

   background-color: #fff;

   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1;
}

.nav__link:hover {
   color: #fce38a;
}

.nav__link:hover::after {
   display: block;
   opacity: 1;
   background-color: #fce38a;

   transition: opacity 0.3s linear;
}

a:link {
   color: #fff;
}

a:visited {
   color: #fff;
}

a:hover {
   color: #fce38a;
   border-color: #fce38a;
   transition: 0.3s linear;
}

/*Main logo*/

.main__contentlogo {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 90vh;
   width: 100%;
}

.contentlogo__suptitle {
   text-align: center;
   font-family: "Kaushan Script", cursive;
   font-size: 72px;
   padding-bottom: 42px;
}

.contentlogo__title {
   text-align: center;
   font-size: 150px;
   font-weight: 800;
   text-transform: uppercase;
}

.contentlogo__title::after {
   content: "";
   display: block;
   height: 3px;
   width: 60px;
   background-color: #fff;
   margin: 0 auto;
   margin-top: 71px;
   margin-bottom: 50px;
}

.contentlogo__button-a {
   display: inline-block;
   vertical-align: top;
   text-align: center;
   border: 1px solid #fff;
   font-size: 14px;
   text-transform: uppercase;
   padding: 12px 38px;
}

.main__sliderul {
   display: flex;
}

.num {
   font-size: 100px;
}

/*Slider*/

.slider__list-ul {
   display: flex;
   justify-content: space-around;
}

.rows {
   text-transform: uppercase;
   font-size: 16px;
   position: relative;
   opacity: 60%;
}

.rows__active {
   text-transform: uppercase;
   font-size: 16px;
   position: relative;
}

.nmb {
   font-weight: 700;
   font-size: 18px;
}

.rows::before {
   content: "";
   display: block;
   width: 230px;
   height: 3px;
   background-color: #fff;
   position: absolute;
   top: -22px;
}

.rows__active::before {
   content: "";
   display: block;
   width: 230px;
   height: 3px;
   background-color: #fff;
   position: absolute;
   top: -22px;
}

.active::after {
   content: "";
   display: block;
   width: 70px;
   height: 3px;
   background-color: #f38181;
   position: absolute;
   top: -22px;
}

@media (max-width: 1200px) {
   .content__background {
      width: 100vh;
   }
}

/*About*/
.about {
   color: #000;
   margin: 0 auto;
   text-align: center;
   padding-bottom: 110px;
}

.about__suptitle {
   font-family: "Kaushan Script", cursive;
   font-size: 24px;
   padding-bottom: 23px;
}

.about__title {
   font-size: 30px;
   font-weight: 800;
}

.about__title::after {
   content: "";
   display: block;
   height: 3px;
   width: 60px;
   background-color: #f38181;

   margin: 40px auto;
}

.about__text {
   color: #999999;
   font-size: 15px;
   padding-bottom: 100px;
}

.about__images {
   display: grid;
   grid-template-columns: 33% 33% 33%;
   column-gap: 15px;
}
.about__images-img1in1 {
   position: relative;
}

.about__images-in {
   position: absolute;
   bottom: 10px;
   right: 3px;
}

/*numbers*/

.numbers {
   background-color: #95e1d3;
   margin-bottom: 110px;
}

.number__list {
   display: flex;
   justify-content: center;
}

.number__block {
   line-height: 1.5;
   text-align: center;
   font-size: 14px;
   padding: 90px 0;
   width: 240px;

   border-left: solid 1px #b5eae0;
}

.number__block:last-child {
   border-right: solid 1px #b5eae0;
}

.number-span {
   font-size: 72px;
   font-weight: 700;
}

/*info*/

.info {
   max-width: 1130px;
   margin: 0 auto;
   color: #000;
   text-align: center;
   position: relative;
}

.suptitle {
   font-family: "Kaushan Script", cursive;
   font-size: 24px;
   padding-bottom: 23px;
}

.info__title::after {
   content: "";
   display: block;
   height: 3px;
   width: 60px;
   background-color: #f38181;

   margin: 40px auto;
}

.title {
   font-size: 30px;
   font-weight: 800;
}

.info__grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 50% 50%;
   column-gap: 60px;
   text-align: left;
   row-gap: 100px;
   justify-items: center;
   align-items: center;
   margin-bottom: 180px;
}

.grid__block-title {
   text-transform: uppercase;
   font-weight: 500;
   font-size: 10px;
}

.grid__block-text {
   font-size: 11px;
   color: #999999;
}

.info__grid-1 {
   display: flex;
}

.grid__text {
   padding-left: 25px;
}

.grid__block-title {
   padding-bottom: 15px;
}

.info__suptitle::before {
   position: absolute;
   content: "";
   display: block;
   width: 1130px;
   height: 1px;
   background-color: #e5e5e5;
   margin: 0 auto;
   margin-top: 285px;
}

/*adaptive*/

.adaptive {
   text-align: center;
   color: #000;
   margin-bottom: 150px;
}

.adaptive__background {
   background-image: url(../images/Background2.jpg);
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 850px;
   background-attachment: fixed;
}

.adaptive__container {
   max-width: 560px;
   margin: 0 auto;
}

.apaptive__suptitle {
   padding-top: 109px;
}

.suptitle {
   font-family: "Kaushan Script", cursive;
   font-size: 24px;
   padding-bottom: 23px;
}

.adaptive__title::after {
   content: "";
   display: block;
   height: 3px;
   width: 60px;
   background-color: #f38181;

   margin: 40px auto 1px;
}

.title {
   font-size: 30px;
   font-weight: 800;
}

.adaptive__mobile1 {
   position: relative;
}
.adaptive__mobile1-img {
   overflow: hidden;
}

.adaptive__mobilecontainer2-img {
   position: absolute;
   right: -130px;
   bottom: -100px;
}

.ourwork {
   margin: 0 auto;
   text-align: center;
   width: 100%;
}

.textblock {
   max-width: 1130px;
   color: #000;
   text-align: center;
   margin: 0 auto;
}

.textblock__suptitle {
}

.suptitle {
}

.textblock__title {
   text-transform: uppercase;
}

.textblock__title::after {
   content: "";
   display: block;
   height: 3px;
   width: 60px;
   background-color: #f38181;

   margin: 40px auto 1px;
}

.title {
}

.textblock__text {
   padding-top: 45px;
}

.text {
   font-size: 15px;
   color: #999999;
   padding-bottom: 100px;
}

.photoblock {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;

   grid-row-start: auto;
   grid-row-end: auto;
   grid-column-start: auto;
   grid-column-end: auto;
   padding: 0;
   margin: 0;
}

.photoblock {
}

.photoblock-img {
}

.photoblock-img1 {
}

.photoblock-img2 {
}

.photoblock-img3 {
}

.photoblock-img4 {
}

.photoblock-img5 {
   grid-row-start: 1;
   grid-row-end: 3;
   grid-column-start: 3;
   grid-column-end: 4;
}

.photoblock-img6 {
}

.photoblock-img7 {
}

img {
   max-width: 100%;
}

@media (max-width: 1030px) {
   .allcontent {
      max-width: 768px;
      margin: 0 auto;
   }

   .rows::before {
      width: 120px;
      height: 2px;
   }

   .rows__active::before {
      width: 120px;
      height: 2px;
   }

   .active::after {
      width: 30px;
      height: 2px;
   }

   .contentlogo__suptitle {
      font-size: 60px;
   }

   .contentlogo__title {
      font-size: 120px;
   }

   .info__grid {
      padding-top: 20px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
   }

   .info__suptitle::before {
      display: none;
   }

   .grid__block-title {
      font-size: 16px;
   }

   .grid__block-text {
      font-size: 13px;
   }

   .textblock {
      max-width: 768px;
      line-height: 1.3;
   }

   .about__text {
      line-height: 1.3;
   }
}

/*
@media (max-width: 1200px) {
   .textblock {
      max-width: 768px;
   }
}
*/
